**/packages/
.vs/
_LogReader/
**/bin/Debug/
**/bin/Release/
**/bin/Release/netcoreapp2.0/linux-arm/
**/obj/
*.lnk
*.pubxml
*.user
downloadPublish.py
src/_RASPBERRY_PUBLISH.bat
_MasterlistDLL/
MasterlistDLL/
_HashUpdater/
scripts/Program/
scripts/publish.zip
DiscordBotTests/output_test.log
DiscordBotTests/*_log.*
scripts/password.txt
*.jar
*.StyleCop
*.Cache
**/_Other*
src/HTTP/
